<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cur_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,1084},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>curly_fixed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,1502},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>curly.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,1443},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>curly_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1444},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>straight_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,1444},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>lock_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,1206},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,1993},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,1993},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>help_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1517},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>help_from_friends_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,672},{257,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,81}</string>
			</dict>
			<key>help_from_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,672},{257,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,81}</string>
			</dict>
			<key>help_from_moments_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,672},{258,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,81}</string>
			</dict>
			<key>help_from_moments.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,672},{258,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,81}</string>
			</dict>
			<key>help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1283},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>icon_level_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1084},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1170},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_main_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1256},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1357},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_next_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1416},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_next_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,1517},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,1456},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_pre_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1318},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_pre_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1318},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>icon_pre.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,1318},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1164},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>music_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1098},{84,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,54}</string>
			</dict>
			<key>screen_bird.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,932},{126,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,165}</string>
			</dict>
			<key>screen_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1456},{75,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,77}</string>
			</dict>
			<key>screen_shot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,1517},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>share_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,1060},{250,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,79}</string>
			</dict>
			<key>share_moments.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,1060},{256,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,79}</string>
			</dict>
			<key>btn_alipay_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,762},{339,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,118}</string>
			</dict>
			<key>btn_alipay_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1756,762},{339,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,118}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1582},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>btn_no_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1405},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_no_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1450},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_wechat_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,1103},{339,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,118}</string>
			</dict>
			<key>btn_wechat_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1756,1103},{339,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,118}</string>
			</dict>
			<key>point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,785},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,805},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>straight_fixed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,1523},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>straight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,1524},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>target_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,1524},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>unlock_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1328},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>btn_about.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,1727},{279,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,78}</string>
			</dict>
			<key>btn_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,1933},{279,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,78}</string>
			</dict>
			<key>btn_music_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,672},{278,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,77}</string>
			</dict>
			<key>btn_pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,952},{278,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,77}</string>
			</dict>
			<key>fixedPath_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1283},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>help_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1250},{82,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,55}</string>
			</dict>
			<key>help_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1154},{82,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,55}</string>
			</dict>
			<key>mainMenu_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,1238},{82,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,55}</string>
			</dict>
			<key>mainMenu_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,1164},{82,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,55}</string>
			</dict>
			<key>payByAlipay_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1935},{311,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,92}</string>
			</dict>
			<key>payByAlipay_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,1840},{311,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,92}</string>
			</dict>
			<key>payByWechat_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,1934},{311,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,91}</string>
			</dict>
			<key>payByWechat_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,1840},{311,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,91}</string>
			</dict>
			<key>setting_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,1098},{82,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,55}</string>
			</dict>
			<key>setting_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,665},{82,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,55}</string>
			</dict>
			<key>shut.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1405},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1084},{279,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,78}</string>
			</dict>
			<key>helpBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1},{567,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{567,482}</string>
			</dict>
			<key>btn_gopay.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1840},{308,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,93}</string>
			</dict>
			<key>btn_goback.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,1312},{142,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,65}</string>
			</dict>
			<key>btn_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1342},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>
			<key>MoreTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,1},{720,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,100}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,1444},{281,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,80}</string>
			</dict>
			<key>settingBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{559,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{559,644}</string>
			</dict>
			<key>tattoo.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,562},{437,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,108}</string>
			</dict>
			<key>LightSlit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,723},{595,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{595,90}</string>
			</dict>
			<key>StartGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1840},{331,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,92}</string>
			</dict>
			<key>share_friends_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,1320},{518,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,76}</string>
			</dict>
			<key>share_moments_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,1320},{518,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,76}</string>
			</dict>
			<key>help_from_friends_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1840},{518,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,76}</string>
			</dict>
			<key>help_from_moments_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1918},{518,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,76}</string>
			</dict>
			<key>settingBG_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{720,662}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,662}</string>
			</dict>
			<key>settingBG_EN1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,1840},{151,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,159}</string>
			</dict>
			<key>btn_about_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,562},{520,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,77}</string>
			</dict>
			<key>btn_help_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,562},{520,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,77}</string>
			</dict>
			<key>btn_more_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,761},{520,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,77}</string>
			</dict>
			<key>btn_music_on_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,761},{520,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,77}</string>
			</dict>
			<key>btn_pay_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,761},{520,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,77}</string>
			</dict>
			<key>btn_music_off_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,761},{520,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,77}</string>
			</dict>
			<key>payByAlipay_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,665},{431,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,85}</string>
			</dict>
			<key>payByWechat_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,665},{431,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,85}</string>
			</dict>
			<key>StartGame_En.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1934},{331,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,92}</string>
			</dict>
			<key>fixedPath_N1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1283},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>cursor.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,723},{10,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,60}</string>
			</dict>
			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,485},{279,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,274}</string>
			</dict>
			<key>coin_piece.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,485},{276,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,275}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>